server:
  port: 7002
spring:
  application:
    name: eureka-server
eureka:
  instance:
    hostname: eureka7002.com
  client:
    register-with-eureka: true
    fetch-registry: false
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7003.com:7003/eureka/
