<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springcloud.dao.DeptDao">
    <select id="findDeptById" parameterType="Long" resultType="dept">
        select * from dept where deptno = #{deptno};
    </select>

    <select id="findAllDepts" resultType="dept">
        select * from dept;
    </select>
    <insert id="addDept" parameterType="dept">
        insert into dept (dname, db_source) values (#{dname}, database());
    </insert>
</mapper>